@use '../variables' as *;
@use '../mixins' as *;

/***** MATRIZ *****/
.matriz__v2 {
    position: relative;
    z-index: 1;

    .matriz__item {
        position     : relative;
        width        : calc(33.333% - 20px);
        margin-right : 30px;
        margin-bottom: 20px;
        border-radius: 5px;
        float        : left;
        @include sombraGris(0px, 0px, 10px, 5px, .35);
        z-index      : 1;

        .inner {
            position     : relative;
            width        : 100%;
            height       : 220px;
            padding      : 20px;
            border-radius: 5px 5px 0 0;
            @include transicionSE(450ms);
            z-index : 1;

            .name {
                @include absolutePos(0, 40%, 0, 0);
                @include Ytranslate(-50%);
                @include transicionSE(450ms);
                @include rotar(-25deg);
                text-align : center;
                font-size  : 32px;
                font-weight: 500;
                height     : 40px;
                line-height: 40px;
                color      : $color_claro;
                z-index    : 1;
            }
    
            .price {
                @include absolutePos(auto, 10px, 10px, auto);
                @include transicionSE(450ms);
                text-align : center;
                font-size  : 24px;
                font-weight: 500;
                height     : 30px;
                line-height: 30px;
                color      : $color_claro;
                z-index    : 1; 
            }
        }

        .format_selector {
            position        : relative;
            background-color: $color_claro;
            border-radius   : 0 0 5px 5px;
            overflow        : hidden;
            z-index         : 1;

            .format {
                position      : relative;
                display       : inline-block;
                vertical-align: middle;
                width         : 25%;
                height        : 40px;
                font-size     : 20px;
                font-weight   : 500;
                line-height   : 35px;
                color         : $color_oscuro;
                text-align    : center;
                overflow      : hidden;
                cursor        : pointer;
                @include transicionSE(450ms);
                z-index      : 1;

                &.sel {
                    color: $color_claro;
                }
            }
        }

        &.rojo {
            .inner {
                background-color: $color_principal;
            }

            .format_selector {
                .format {
                    &.sel {
                        background-color: $color_principal;
                    }
                }
            }
        }

        &.naranja {
            .inner {
                background-color: #ffb325;
            }

            .format_selector {
                .format {
                    &.sel {
                        background-color: #ffb325;
                    }
                }
            }
        }

        &.azul {
            .inner {
                background-color: $color_secundario;
                border-radius   : 5px;
            }
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}