@use '../variables' as *;
@use '../mixins' as *;

/***** MATRIZ *****/
.matriz__v1 {
    position: relative;
    z-index: 1;

    .matriz__item {
        position     : relative;
        width        : calc(20% - 20px);
        margin-right : 25px;
        margin-bottom: 20px;
        border-radius: 5px;
        float        : left;
        cursor       : pointer;
        overflow     : hidden;
        @include sombraGris(0px, 0px, 10px, 5px, .35);
        z-index: 1;

        &:nth-child(5n) {
            margin-right: 0;
        }

        .matriz__item_pic {
            position     : relative;
            border-radius: 5px;
            overflow     : hidden;
            z-index      : 1;

            img {
                display   : block;
                width     : 100%;
                height    : auto;
                object-fit: cover;
            }
        }

        .matriz__item_info {
            @include absolutePos(0, auto, 0, 0);
            overflow      : hidden;
            pointer-events: none;
            padding       : 0 25px;
            height        : 0%;
            background    : rgba(234, 234, 234, .9);
            @include transicionSE(450ms);
            z-index       : 2;

            .title {
                position      : relative;
                display       : block;
                font-size     : 20px;
                text-transform: uppercase;
                font-weight   : 500;
                padding-bottom: 10px;
                margin-bottom : 15px;
                border-bottom : 1px solid $color_secundario;
                color         : $color_secundario;
                text-overflow : ellipsis;
                white-space   : nowrap;
                overflow      : hidden;
                z-index       : 1;
            }

            .sessions {
                position     : relative;
                padding      : 5px;
                background   : rgba(156, 75, 74, .5);
                border-radius: 5px;
                z-index      : 1;

                .session {
                    display        : inline-block;
                    vertical-align : middle;
                    font-size      : 16px;
                    line-height    : 24px;
                    padding-left   : 32px;
                    background     : url('../img/ico_entrada.png') left center no-repeat;
                    background-size: 24px;
                    margin-right   : 10px;
                    font-weight    : 500;
                    color          : $color_oscuro;
                }
            }

            .info_line {
                position: relative;
                margin  : 15px 0;
                z-index : 1;

                strong {
                    color: $color_secundario;
                }
            }

            .sinopsis {
                position   : relative;
                border-top : 1px solid $color_secundario;
                padding-top: 15px;
                overflow   : hidden;
                font-size  : 15px;
                color      : $color_oscuro;
                line-height: 20px;
                z-index    : 1;

                p {
                    display      : block;
                    margin-bottom: 20px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}