@use '../variables' as *;
@use '../mixins' as *;

/**** PIE ****/
footer {
    position        : relative;
    text-align      : center;
    background-color: $color_claro;
    z-index         : 1;

    p {
        font-size  : 18px;
        line-height: 50px;
        color      : $color_oscuro;
        padding    : 10px;
    }
}