@use 'variables' as *;
@use 'mixins' as *;

/**** FUENTES ****/
@font-face {
  font-family: 'Libre Baskerville';
  src        : url('fonts/LibreBaskerville-Regular.ttf') format('truetype');
  font-weight: 400
}
@font-face {
  font-family: 'Poppins';
  src        : url('fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400
}
@font-face {
  font-family: 'Poppins';
  src        : url('fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 500
}
@font-face {
  font-family: 'Poppins';
  src        : url('fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 600
}

/**** CSS PROPIO ****/
.transicion {
  @include transicion(300ms); 
}

input, textarea {
  font-family: "Poppins", sans-serif;
}

table {
  box-sizing: border-box;
}

body {
  font-family          : "Poppins", sans-serif;
  font-weight          : 400;
  background           : $color_claro;
  background           : url('../img/bg_body.jpg') center no-repeat;
  background-size      : cover;
  background-attachment: fixed;
}

strong {
  font-weight: 600;
  color      : $color_principal;
}

.izq {
  float: left;
}
.der {
  float: right;
}

.centrar {
  text-align: center;
}

.limpiar,
.limpia,
.clear {
  display: block;
  clear  : both;
}

.contenedor {
  max-width: $w_1260;
  margin   : 0 auto;
  position : relative;
  z-index  : 0;
}
.contenedor.w_1600 {
  max-width: $w_1600;
}
.contenedor.w_768 {
  max-width: $w_768;
}
.contenedor.w_480 {
  max-width: $w_480;
}

.mensaje_std {
  color     : $color_claro;
  font-size : 16px;
  text-align: center;
  padding   : 10px;
  margin    : 10px 0 20px;
}

.btn_std {
  display        : inline-block;
  background     : $color_claro;
  color          : $color_oscuro;
  border         : 1px solid $color_claro;
  text-align     : center;
  font-size      : 16px;
  line-height    : 38px;
  height         : 40px;
  border-radius  : 15px;
  padding        : 0 20px;
  min-width      : 200px;
  text-decoration: none;
  cursor         : pointer;
}

/** TITULO ***/
.titulo_general {
  position      : relative;
  font-family   : $fuente_titulos;
  font-size     : 2.5em;
  color         : $color_oscuro;
  padding-bottom: 15px;
  line-height   : 1em;
  margin-bottom : 25px;
  text-align    : center;
  z-index       : 1;

  &.upper {
    text-transform: uppercase;
  }

  &:before {
      content: '';
      @include absolutePos(0, auto, auto, 0);
      width        : 100%;
      height       : 2px;
      border-radius: 2px;
      background   : linear-gradient(-90deg, rgba(67, 93, 130,1) 0%, rgba(156, 75, 74, 1) 50%, rgba(67, 93, 130,1) 100%);
      z-index      : 1;
  }
}

/*** SECTION ***/
.section {
  position  : relative;
  background: $color_claro;
  padding   : 60px 50px;
  z-index   : 1;
}

/*** BTN TOP ****/
.btn_top {
  @include fixedPos(auto, auto, 30px, 30px);
  width             : 60px;
  height            : 60px;
  line-height       : 56px;
  font-size         : 24px;
  text-align        : center;
  border            : 2px solid $color_oscuro;
  border-radius     : 100%;
  color             : $color_oscuro;
  background        : $color_claro;
  cursor            : pointer;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(65,65,65, .3);
  -moz-box-shadow   : 0px 0px 10px 5px rgba(65,65,65, .3);
  box-shadow        : 0px 0px 10px 5px rgba(65,65,65, .3);
  @include transicion(300ms);
  opacity       : 0;
  pointer-events: none;
  @include scalar(0);
  z-index       : 2;

  &.on {
    opacity       : 1;
    pointer-events: all;
    @include scalar(1);
  }

  i {
    position: relative;
    z-index: 2;
  }

  .fill {
    @include absolutePos(-1px, -1px, -1px, -1px);
    background         : $color_oscuro;
    border-radius      : 100%;
    backface-visibility: hidden;
    @include scalar(0);
    @include transicion(200ms);
    z-index: 1;
  }
}

/*** ERROR FLORANTE CAMPOS */
.error_form {
  @include absolutePos(auto, auto, 4px, 4px);
  color        : $color_claro;
  font-size    : 15px;
  background   : rgba(255, 0, 0, .3);
  text-align   : center;
  padding      : 2px 5px;
  border-radius: 5px;
  line-height  : 20px;
  z-index      : 2;
}

/**** LOADER ****/
.loader {
  background: rgba(0, 0, 0, .95);
  @include fixedPos(0, 0, 0, 0);
  z-index   : 10;

  .txt {
    @include absolutePos(0, 0, 0, 0);
    font-family              : $fuente_titulos;
    color                    : $color_principal;
    font-size                : 30px;
    width                    : 120px;
    height                   : 40px;
    line-height              : 40px;
    margin                   : auto;
    animation-name           : 'pulse';
    animation-duration       : 1500ms;
    animation-iteration-count: infinite;
    z-index                  : 1;
  }

  &:after {
    content            : '';
    @include absolutePos(0, 0, 0, 0);
    width              : 240px;
    height             : 240px;
    margin             : auto;
    border-radius      : 100%;
    border             : 1px solid $color_claro;
    border-bottom-width: 3px;
    border-right-width : 0;
    border-top-width   : 0;
    animation          : rotate-center 1.5s linear infinite both;
  }
}

/**** SCROLLBAR ****/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color_claro;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color_principal;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color_oscuro;
}

/**** DELAY CUSTOM ****/
.animate__animated.animate__delay-1500ms {
  -webkit-animation-delay: 1500ms;
  animation-delay        : 1500ms;
  -webkit-animation-delay: 1500ms;
  animation-delay        : 1500ms;
}

.animate__animated.animate__delay-500ms {
  -webkit-animation-delay: 500ms;
  animation-delay        : 500ms;
  -webkit-animation-delay: 500ms;
  animation-delay        : 500ms;
}

.animate__animated.animate__delay-300ms {
  -webkit-animation-delay: 300ms;
  animation-delay        : 300ms;
  -webkit-animation-delay: 300ms;
  animation-delay        : 300ms;
}

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/**** ANIMATION ZOOM - UTILIZADO EN LOS ITEMS DE GALERIA ***/
@keyframes zoomHover {
  0% {
    @include scalar(1);
    -webkit-box-shadow : 0px 0px 15px 5px transparent;
    box-shadow         : 0px 0px 15px 5px transparent;
  }
  100% {
    @include scalar(1.2);
    -webkit-box-shadow : 0px 0px 10px 5px rgba(0,0,0,0.3);
    box-shadow         : 0px 0px 10px 5px rgba(0,0,0,0.3);
  }
}

@keyframes zoomHoverEnd {
  0% {
    @include scalar(1.2);
    -webkit-box-shadow : 0px 0px 10px 5px rgba(0,0,0,0.3);
    box-shadow         : 0px 0px 10px 5px rgba(0,0,0,0.3);
  }
  100% {
    @include scalar(1);
    -webkit-box-shadow : 0px 0px 15px 5px transparent;
    box-shadow         : 0px 0px 15px 5px transparent;
  }
}