@use 'variables' as *;
@use 'mixins' as *;

@media (hover: hover) {
    header .header_content nav.menu ul li:hover {
        color     : $color_secundario;
        background: $color_claro;
    }
    header .header_content nav.menu ul li:hover:after,
    header .header_content nav.menu ul li:hover:before {
        width: 100%;
    }
    .popup .cerrar_popup:hover,
    .pop_cartelera .cerrar_popup:hover {
        background-color: $color_claro;
        color           : $color_principal;
    }
    .matriz__v1 .matriz__item:hover .matriz__item_info {
        height : 100%;
        padding: 25px;
    }
    .carrousel__proximamente .carrousel__proximamente_container .item:hover .item_info {
        height : 100%;
        padding: 25px;
    }
    .backgrounded__content .nav_cine .owl-next:hover,
    .backgrounded__content .nav_cine .owl-prev:hover {
        opacity: 1;
    }
    .backgrounded__content .toggle_gallery:hover {
        opacity: 1;
    }
    .matriz__v2 .matriz__item.rojo .format_selector .format:hover {
        background-color: $color_principal;
        color           : $color_claro;
    }
    .matriz__v2 .matriz__item.naranja .format_selector .format:hover {
        background-color: #ffb325;
        color           : $color_claro;
    }
    .contacto form .btn_form:hover {
        background  : $color_secundario;
    }
    .contacto form label.custom_checkbox .checkbox_link:hover {
        color: $color_principal;
    }
    footer .upper .redes .red:hover {
        background-color: $color_principal;
    }
    footer .upper .redes .red:hover i {
        opacity: 0;
    }
    footer .upper .redes .red:hover .txt {
        @include Ytranslate(0);
        opacity: 1;
    }
    .btn_top:hover {
        color       : $color_claro;
        border-color: $color_principal;
    }
    .btn_top:hover .fill {
        @include scalar(1);
    }
    .carrousel__proximamente .carrousel__proximamente_container.owl-loaded .owl-nav .owl-prev:hover,
    .carrousel__proximamente .carrousel__proximamente_container.owl-loaded .owl-nav .owl-next:hover {
        background   : rgba(0, 0, 0, .6);
    }
}