/**** ESTILOS SITIO ****/
@use 'site/cabecera';
@use 'site/matriz';
@use 'site/parallax_text';
@use 'site/carrousel_proximamente';
@use 'site/cine';
@use 'site/matriz_comestibles';
@use 'site/contacto';
@use 'site/pie';
@use 'site/pop_cartelera';
@use 'site/pop_politica';
