/**** VARIABLES ****/
$color_principal       : #9c4b4a;
$color_secundario      : #435d82;
$principal_transparente: rgba(156, 75, 74, .6);
$color_claro           : #eeeeee;
$color_oscuro          : #2f3744;
$color_negro           : #000;
$logo                  : url('../img/logo.png') center no-repeat;
$w_1260                : 1260px;
$w_1600                : 1600px;
$w_768                 : 768px;
$w_480                 : 480px;
$fuente_titulos        : "Libre Baskerville", serif;